[Unit]
Description=Pi-Monitoring service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/pi_monitor/
ExecStart=/usr/bin/python3 -m http.server 8080
Restart=always
User=pi

[Install]
WantedBy=multi-user.target